services:
  nats:
    image: nats:latest
    container_name: nats-server
    ports:
      - "4222:4222"
      - "8222:8222"
    restart: always
    networks:
      - backend

networks:
  backend:
    driver: bridge